---
import { getCollection } from "astro:content";
import SectionHeading from "./SectionHeading.astro";
import NeoCard from "@components/NeoCard.astro";
import ContributionButton from "@components//ContributionButton.astro";
import { getContributionTypeFromURL } from "./contribution";

const contributions = await getCollection("contributions");
contributions.sort(
	(a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);
---

<section>
	<SectionHeading id="contributions">Open Source Contributions</SectionHeading>

	<ul class="space-y-5">
		{
			contributions.map((contribution) => {
				const { projectName, projectUrl, description, url } = contribution.data;

				return (
					<li>
						<NeoCard variant="warning">
							<div class="flex justify-between gap-x-4">
								<div>
									<a href={projectUrl}>
										<h3 class="font-bold underline">{projectName}</h3>
									</a>
									<p>{description}</p>
								</div>

								<ContributionButton
									{url}
									{contribution}
									variant={getContributionTypeFromURL(url)}
								/>
							</div>
						</NeoCard>
					</li>
				);
			})
		}
	</ul>
</section>
