---
import PreloadFonts from "@components/PreloadFonts.astro";
import Footer from "@components/Footer.astro";
import Navigation from "@components/Navigation.astro";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Jay Parry",
	description = "Jay Parry's Software Developer Portfolio",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>

		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>

		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta
			name="title"
			content={title}
		/>
		<meta
			name="description"
			content={description}
		/>

		<!-- Open Graph / Facebook -->
		<meta
			property="og:type"
			content="website"
		/>
		<meta
			property="og:url"
			content={Astro.url}
		/>
		<meta
			property="og:title"
			content={title}
		/>
		<meta
			property="og:description"
			content={description}
		/>

		<!-- Twitter -->
		<meta
			property="twitter:card"
			content="summary"
		/>
		<meta
			property="twitter:url"
			content={Astro.url}
		/>
		<meta
			property="twitter:title"
			content={title}
		/>
		<meta
			property="twitter:description"
			content={description}
		/>

		<PreloadFonts />
	</head>
	<body
		class="min-h-screen bg-zinc-100 font-mono leading-6 selection:bg-red-300/40"
	>
		<Navigation />

		<div class="mx-auto max-w-2xl px-6 pb-9">
			<main>
				<slot />
			</main>

			<div class="mt-12">{/* spacer element */}</div>
			<Footer />
		</div>

		<!-- Cloudflare Web Analytics -->
		<script
			type="text/partytown"
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "c736a3c41b434241a7d1dc76b2d8dcf1"}'
		></script>
		<!-- End Cloudflare Web Analytics -->
	</body>
</html>
